<header class="site-header">
    <div class="container">
        <div class="header-content">
            <h1 class="site-title">
                <a href="{{ '/' | relative_url }}">
                    <img src="{{ '/assets/img/favicon-32x32.png' | relative_url }}" alt="" class="site-icon">
                    {{ site.title }}
                </a>
            </h1>
            <nav class="site-nav">
                <a href="{{ '/' | relative_url }}">Home</a>
                <a href="{{ '/blog' | relative_url }}">Blog</a>
                <a href="{{ '/about' | relative_url }}">About</a>
                <a href="{{ '/resume' | relative_url }}">Resume</a>
            </nav>
        </div>
    </div>
</header>